.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  background-image: url("/images/pic_michi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.name {
  background-color: #00000099;
  max-width: 100vw;
}
.name h1 {
  font-size: 3.2rem;
  color: rgb(227, 28, 95);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  line-height: 1;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 475px;
}

.details {
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.details p {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  text-shadow: 1px 0 4px black;
}

.services {
  backdrop-filter: opacity(20%);
  background-color: rgba(0, 0, 0, 0.1);
}
.services p {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.6rem;
  color: rgb(227, 28, 95);
  line-height: 2.5;
}

.contactme {
  margin-left: 3rem;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  color: #fff;
  margin-bottom: 4rem;
}

.banner {
  height: 300px;
  background-image: url("/images/pic_bw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pagecontainer {
  width: 100%;
  @media screen and (min-width: 700px) {
    align-items: center;
    width: 700px;
    border: 2px red;
    margin: auto;
  }
}
