.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3rem;
  min-height: 100vh;
  background-image: url("/images/pic_michi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.name {
  right: 0;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  max-width: 550px;
  padding: 1rem;
}
.name h1 {
  font-size: 3.2rem;
  color: rgb(227, 28, 95);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  line-height: 1;
}

.details {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.details p {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(74, 73, 73);
}

.services p {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.6rem;
  color: rgb(227, 28, 95);
  line-height: 2.5;
}

.contactme {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  color: #fff;
  margin-bottom: 4rem;
}

.banner {
  height: 300px;
  background-image: url("/images/pic_bw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
